<template>
  <div class="gallery">
        <el-row>
            <el-col :span="6" v-for="(value) in paginatedData" :key="value.id">
                <photo :photo="value"/>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="12" :offset="6">
                 <pagination
                    :list="photosData.data"
                    :totalItems="photosData.data.length"/>
            </el-col>
        </el-row>
  </div>
</template>

<script>
import Photo from './Photo.vue'
import Pagination from './Pagination.vue'

export default {
    name: 'Gallery',
    components: {
        Photo,
        Pagination
    },
    computed: {
        paginatedData() {
            return this.$store.state.paginatedData
        },
        photosData() {
            return this.$store.state.photos
        }
    }
}
</script>

<style>
    .gallery {
        padding: 2vh 5vw;
    }
</style>

