<template>
    <div class="noconnetion">
            <el-row>
                <el-col :span="12" :offset="6">
                    <div class="no-connection-info">
                        <img src="../assets/No internet.png"/>
                        <h3>Oh shucks!</h3>
                        <span>Slow or no internet <br> Please check your internet settings</span>
                    </div>
                </el-col>
            </el-row>
    </div>
</template>

<style>
    .no-connection-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
    }

    .no-connection-info > img{
        width: 150px;
    }

    .no-connection-info > * {
        font-family: 'SF-Compact-Display', sans-serif;
    }

    .no-connection-info > h3 {
        font-size: 20px;
        color: #2F1767;
        font-weight: 700;
    }

    .no-connection-info > span {
        color: #4A4A4A;
        font-size: 12px;
        font-weight: normal;
    }
</style>



<script>
export default {
    name: 'NoConnection'
}
</script>


