<template>
    <el-pagination
        :page-size="itemsPerPage"
        :pager-count="countOfPages"
        layout="prev, pager, next"
        :total="totalItems"
        :current-page="this.currentPage + 1"
        @prev-click="prevPage"
        @next-click="nextPage"
        @current-change="setCurrentPage">
    </el-pagination>
</template>



<script>
export default {
    name: 'Pagination',
    data() {
        return {
            currentPage: 0,
            itemsPerPage: 12
        }
    },
    props: {
        list: {
            type: Array,
            required: true
        },
        totalItems: {
            type: Number,
            required: true
        }
    },
    computed: {
        pageCount() {
            return Math.ceil(this.totalItems/this.itemsPerPage);
        }
    },
    mounted(){
        this.recalcPaginatedData()
    },
    methods: {
        nextPage() {
            this.currentPage += 1
            this.recalcPaginatedData()
        },
        prevPage() {
            this.currentPage -= 1
            this.recalcPaginatedData()
        },
        recalcPaginatedData() {
            const start = this.currentPage * this.pageCount
            const end = start + this.itemsPerPage
            const paginatedData = this.list.slice(start, end)
            this.$store.commit('savePaginatedData', paginatedData)
        },
        setCurrentPage(e) {
            this.currentPage = e - 1
            this.recalcPaginatedData()
        }
    }

}
</script>

<style>
    .el-pagination button, .el-pagination button:disabled{
        background: #F0F2F5;
        font-size: 14px;
        min-width: inherit;
        width: 1.5vw;
    }

    .el-pagination .btn-next, .el-pagination .btn-prev{
        background: #F0F2F5;
    }

    .el-pagination .btn-prev {
        padding-right: 5px;
    }

    .el-pagination .btn-next {
        padding-left: 5px;
    }

     .el-pagination button:disabled{
        color: #C0C4CC;
    }

    .el-pagination button:hover, .el-pagination button:focus{
        background: #ed5992;
        color: #fff;
    }

    .el-pagination button:disabled:hover{
        color: inherit;
        background: inherit;
    }

    .el-pager li {
        background: #F0F2F5;
        width: 1.5vw;
        min-width: inherit;
        font-family: 'SF-Pro-Text', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #606266;
        margin: 0 10px;
    }

    .el-pager{
        margin: 0 10px;
    }

    .el-pager li.active {
        color: #fff;
        background: #ed5992;
        cursor: default;
    }

    .el-pager li:hover{
        color: #fff;
        background: #ed5992;
    }
</style>

