<template>
    <div>
        <div :style="styleForPhoto" class="photo" @click="photoInfoVisible = true"></div>
        <el-dialog :visible.sync="photoInfoVisible">
             <img :src="`http://gallery.dev.webant.ru/media/${photo.image.contentUrl}`" class="photo-image"/>
             <h3 class="photo-name">{{ photo.name }}</h3>
             <span class="photo-desc">{{ photo.description }}</span>
        </el-dialog>
    </div>
</template>


<style>
    .photo {
        width: 20vw;
        height: 25vh;
        background: #000;
        margin: 3vh 0;
        border-radius: 10px;
        box-shadow: 0 10px 10px #c5c5c5;
        background-size: cover;
    }

    .photo:hover{
        cursor: pointer;
    }

    .photo-image{
        width: 100%;
    }

    .photo-name, .photo-desc {
        text-align: left;
    }

    .photo-name {
        color: #2F1767;
        font-size: 18px;
    }

    .photo-desc {
        color: #606266;
        font-size: 14px;
    }
</style>


<script>
export default {
    name: 'Photo',
    data() {
        return {
            photoInfoVisible: false
        }
    },
    props: {
        photo: Object
    },
    computed: {
        styleForPhoto() {
            return { backgroundImage: `url(http://gallery.dev.webant.ru/media/${this.photo.image.contentUrl})`}
        }
    }
}
</script>

<sty
