@font-face {
    font-family: Acrom-Regular;
    src: url('./fonts/Acrom.ttf');
}

@font-face {
    font-family: SF-Compact-Display;
    src: url('./fonts/SF-Compact-Display-Semibold.otf');
    font-weight: 700;
}

@font-face {
    font-family: SF-Compact-Display;
    src: url('./fonts/SF-Compact-Display-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url('./fonts/SFProText-Medium.ttf');
    font-weight: 500;
}