<template>
  <div id="app"
    element-loading-text="Loading..."
    v-loading.fullscreen.lock="fullscreenLoading"
    element-loading-background="#fff">
    <el-container>
      <el-header>
          <el-row :gutter="20">
            <el-col :span="4">
              <img class="logo" src="./assets/Bitmap.png"/>
            </el-col>
            <el-col :offset="2" :span="16">
                <el-tabs :value="activeName" @tab-click="changeRoute">
                  <el-tab-pane label="New" name="new">
                  </el-tab-pane>
                  <el-tab-pane label="Popular" name="popular">
                  </el-tab-pane>
              </el-tabs>
            </el-col>
          </el-row>
      </el-header>
      <el-row>
        <router-view></router-view>
      </el-row>
   </el-container>
  </div>
</template>

<script>
import Gallery from './components/Gallery.vue'
import PhotoService from './services/PhotoService'
import NoConnection from './components/NoConnection.vue'

export default {
    name: 'app',
    components: {
        Gallery,
        NoConnection,
        RotateSquare2
    },
    data() {
        return {
            fullscreenLoading: true,
            galleryRendering: false,
            activeName: 'new'
        }
    },
    mounted() {
        this.setActiveTab()
        this.getPhotos()
    },
    computed:{
        photos() {
          return this.$store.state.photos
        }
    },
    methods: {
        async getPhotos() {
            const response = await PhotoService.getPhotos()
            this.$store.commit('savePhotos', response)
            this.fullscreenLoading = false
            this.galleryRendering = true
        },
        changeRoute(e){
            this.activeName = e.name
            this.$router.push({ name: `${e.name}`})
        },
        setActiveTab(){
            this.activeName = this.$router.currentRoute.name
        }
    }
}
</script>

<style>
  .el-tabs__item.is-active, .el-tabs__item:hover  {
      color: #ed5992;
  }

  .el-tabs__active-bar {
    background-color: #ed5992;
  }

  #app {
    font-family: 'Acrom-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }

  .el-pagination {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }

  .logo{
    margin-left: 3vw;
  }

  .el-loading-text{
    font-family: 'Acrom-Regular', sans-serif;
  }

  .el-loading-spinner .el-loading-text {
    color: #303133;
  }

</style>
